<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurfByEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
    </configSections>
    <userSettings>
        <SurfByEmail.Properties.Settings>
            <setting name="FromWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="PopServer" serializeAs="String">
                <value>pop.gmail.com</value>
            </setting>
            <setting name="PopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="PopSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PopPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitTimeToRecheckPop" serializeAs="String">
                <value>10000</value>
            </setting>
        </SurfByEmail.Properties.Settings>
    </userSettings>
</configuration>