<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SurfByEmail.SpecialUrl" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SurfByEmail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
    </configSections>
    <userSettings>
        <SurfByEmail.SpecialUrl>
            <setting name="gbusiness" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=b"</value>
            </setting>
            <setting name="gentertainment" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=e"</value>
            </setting>
            <setting name="gmoretopstories" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=h"</value>
            </setting>
            <setting name="gnews" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;q=replaceme"</value>
            </setting>
            <setting name="gscience" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=snc"</value>
            </setting>
            <setting name="gscitech" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=t"</value>
            </setting>
            <setting name="gsports" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=s"</value>
            </setting>
            <setting name="gspotlight" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=ir"</value>
            </setting>
            <setting name="gtechnology" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=tc"</value>
            </setting>
            <setting name="gus" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=n"</value>
            </setting>
            <setting name="gworld" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=w"</value>
            </setting>
            <setting name="stocktwits" serializeAs="String">
                <value>"http://stocktwits.com/symbol/replaceme"</value>
            </setting>
            <setting name="twitter" serializeAs="String">
                <value>"https://twitter.com/hashtag/replaceme"</value>
            </setting>
            <setting name="ghealth" serializeAs="String">
                <value>"https://news.google.com/news/section?pz=1&amp;cf=all&amp;topic=m"</value>
            </setting>
            <setting name="ercalendar" serializeAs="String">
                <value>"http://www.nasdaq.com/earnings/earnings-calendar.aspx?date= replaceme"</value>
            </setting>
            <setting name="g" serializeAs="String">
                <value>"http://www.google.com/search?q=replaceme"</value>
            </setting>
            <setting name="gtopstories" serializeAs="String">
                <value>"https://news.google.com/news?pz=1&amp;cf=all&amp;ned=replacemhttps://news.google.com/news?pz=1&amp;cf=all&amp;ned=replaceme"</value>
            </setting>
            <setting name="mwquotes" serializeAs="String">
                <value>"http://www.marketwatch.com/investing/multi?tickers=replaceme"</value>
            </setting>
            <setting name="quote" serializeAs="String">
                <value>"http://www.nasdaq.com/symbol/replaceme/real-time"</value>
            </setting>
        </SurfByEmail.SpecialUrl>
        <SurfByEmail.Properties.Settings>
            <setting name="FromWhiteList" serializeAs="String">
                <value />
            </setting>
            <setting name="PopServer" serializeAs="String">
                <value>pop.gmail.com</value>
            </setting>
            <setting name="PopPort" serializeAs="String">
                <value>995</value>
            </setting>
            <setting name="PopSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PopUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="PopPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpUserEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitTimeToRecheckPop" serializeAs="String">
                <value>10000</value>
            </setting>
        </SurfByEmail.Properties.Settings>
    </userSettings>
</configuration>